.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  gap: 50px;
  transform: translateY(-100px);
}

.allCards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: min-content;
  gap: 50px;
}

.card {
  display: grid;
  width: 100px;
  height: 100px;
  justify-items: center;
  /* hardcoded, because tallest sprite size is 56px and won't change ever */
  grid-template-rows: 66px 1fr;
  border: 1px solid black;
  background-color: white;
}

.card img {
  margin: 5px 0px;
  align-self: center;
}

h1 {
  display: inline-block;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}
